<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">Items per category</span>
    <p>Category</p>
  </li>
  <%@categories.each_with_index do |category|%>
    <li class="list-group-item">
      <span class="badge"><%= category.products.length %></span>
      <a href="/categories/<%=category.id%>" ><%=category.name%></a>
    </li>
  <%end%>
  <li class="list-group-item">
    <span class="badge"><%= @total %></span>
    <a href="/admin/products" >All products</a>
  </li>

</ul>




      <%= form_for [:admin, @category] do |form| %>

        <% if form.object.errors.any? %>
          <div class="alert alert-danger">
            <strong>The following errors prevented saving:</strong>
            <ul>
              <% form.object.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">+</span>
          <%= form.text_field :name, class: 'form-control' %>
        </div>

        <%= form.submit 'Create Category', class: 'btn btn-primary' %>
      <% end %>